/* Estilo global */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #e6f7ff;
  color: #003366;
  text-align: center;
  padding-left: 50px;  /* Espacio a la izquierda para la imagen */
  padding-right: 50px; /* Espacio a la derecha para la imagen */
  position: relative;  /* Asegura que las imágenes se posicionen respecto al body */
}

/* Imagen en el lado izquierdo */
.side-image-left {
  position: absolute;  /* Posicionamos la imagen de forma absoluta */
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;  /* Reducimos el tamaño */
  max-width: 30px;  /* Limita el tamaño máximo */
  height: auto;  /* Mantiene la proporción */
  z-index: -1;  /* Asegura que las imágenes estén detrás del contenido */
}

/* Imagen en el lado derecho */
.side-image-right {
  position: absolute;  /* Posicionamos la imagen de forma absoluta */
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;  /* Reducimos el tamaño */
  max-width: 30px;  /* Limita el tamaño máximo */
  height: auto;  /* Mantiene la proporción */
  z-index: -1;  /* Asegura que las imágenes estén detrás del contenido */
}



