/* Estilo global */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #e6f7ff;
  color: #003366;
  text-align: center;
  padding-left: 50px;  /* Espacio a la izquierda para la imagen */
  padding-right: 50px; /* Espacio a la derecha para la imagen */
  position: relative;  /* Asegura que las imágenes se posicionen respecto al body */
}

/* Imagen en el lado izquierdo */
.side-image-left {
  position: absolute;  /* Cambio a posición absoluta */
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50px;  /* Tamaño ajustado de la imagen */
  height: auto;
  z-index: -1;  /* Asegura que las imágenes queden detrás del contenido */
}

/* Imagen en el lado derecho */
.side-image-right {
  position: absolute;  /* Cambio a posición absoluta */
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50px;  /* Tamaño ajustado de la imagen */
  height: auto;
  z-index: -1;  /* Asegura que las imágenes queden detrás del contenido */
}


